
.container-fluid {
    background-color: #00b8ffe3;
    color: white;
    height: 100%;
}

.header_text {
    font-size: 2.5rem;
}

.container_divs {
    box-shadow: 5px 5px 5px gray;
    padding: 10%;
}
.hello {
    font-size: 40px;
    color: #505050e8;
    width: 100%;
    font-style: italic;
}

.lower-div {
    font-size: 16pt;
    box-shadow: -2px 1px 9px #0c6ba2;
}

.left-div {
    height: 340px;
    background-color: rgba(121, 205, 245, 0.53);
}

.right-div {
    background-color: white;
    height: 340px;
    color: #00b8ffe3;
}

.input-boxes {
    border: none;
    background-color: transparent;
    color: white;
}

input:focus{
    outline: none;
    border: none;
}
textarea::placeholder{
    color: white;
}

.lang-text {
    font-weight: 500;
}
.white-input::placeholder{
    color: #0c6ba2;
}
.white-input{
    color: #0c6ba2;
}
.select {
    color: #00b8ffe3;
    outline: none;
    border: none;
    display: block;
    /* width: 550px; */
    /* height: 60px; */
    color: rgba(0,0,0,0.9);
    font-family: Calibri;
    font-size: 15pt;
    padding: 10px;
    margin: 7.5px auto;
    border-radius: 5px;
}

header{
/*    background-color: rgba(5,84,123,0.3);*/
    background-color : rgba(228, 44, 44, 0.3)
}

.original-text-div {
    background-image: url('/images/Lilly_Translator1.png');
    box-shadow: 5px 5px 5px #7b6565;
    border-radius: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 6% 7%;
    font-size: 18pt;
    height: 94%;
}

.translated-div {
    background-image: url('/images/Lilly_Translator2.png');
    background-size: 100%;
    border-radius: 39px;
    box-shadow: 5px 5px 5px #7b6565;
    background-repeat: no-repeat;
    padding: 6% 7%;
    font-size: 18pt;
    height: 94%;
}



.arrow-img {
    height: 20px;
    width: 77px;
    left: 47%;
    z-index: 2;
    top: 50%;
    position: absolute;
}

.boxes-parent {
    position: relative;
}
